# Server Configuration
PORT=your_port_here

# Database Connection String
DB_CONNECT=mongodb://127.0.0.1:27017/your_database_name

# JSON Web Token Secret (replace with a secure random string)
JWT_SECRET=your_jwt_secret_key_here